.post-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}
.post-wrapper p {
  margin: 5px 0;
}
.post-wrapper .post-wrapper {
  margin-left: 30px;
}

.vote-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin: 5px 0;
}
.svg-icon {
  width: 16px;
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #00000038;
  cursor: pointer;
}

.svg-icon.down {
  transform: rotate(180deg);
}
